.chanel-page {
  padding-top: 10px;
}
.chanel__banner {
  padding-right: 70px;
}

.banner__img {
  width: 100%;
  height: 280px;
  border-radius: 14px;
}

.chanel__info {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 30px 70px 20px 0;
}

.info__main {
  display: flex;
  align-items: center;
  gap: 14px;
}

.main-info__img {
  border-radius: 50%;
  width: 80px;
  height: 80px;
}

.main-info__chanel-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.info__subscription {
  display: flex;
  align-items: center;
  gap: 20px;
}

.subcription__bell {
  font-size: 26px;
}

.subcription__btn {
  background-color: var(--color-accent);
  color: var(--color-bg);
  border-radius: 20px;
  font-size: 16px;
  padding: 10px 20px;
}

.section-chanel .slider__item {
  width: 250px;
}

.section-chanel .section-content__img {
  height: 150px;
}
