.channel-page {
  padding-top: 10px;
}

.banner__img {
  width: 100%;
  height: 280px;
  border-radius: 14px;
}

.channel__info {
  padding: 30px 0 20px;
}

.channel__main {
  margin-bottom: 61px;
}
.info__content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.info__main {
  display: flex;
  align-items: center;
  gap: 14px;
}

.main-info__img {
  border-radius: 50%;
  width: 80px;
  height: 80px;
}

.main-info__channel-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.info__subscription {
  display: flex;
  align-items: center;
  gap: 20px;
}

.subcription__bell {
  font-size: 26px;
  transition: transform 0.3s;
}

.subcription__bell:hover {
  transform: translateY(-5%);
}

.section-channel .slider__item {
  width: 250px;
}

.section-channel .section-content__img {
  height: 150px;
}

.main__content {
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 20px;
}
.main-channel__preview {
  max-width: 1120px;
  flex-shrink: 1;
}

.main-channel__nav {
  margin-bottom: 54px;
}

.nav-channel__list {
  width: 100%;
  display: flex;
  gap: 69px;
}

.nav-channel__item {
  border-bottom: 2px solid transparent;
  cursor: pointer;
  font-size: 18px;
  color: var(--color-title);
}

.nav-channel__item:hover {
  font-weight: 700;
  color: var(--color-accent);
  border-color: var(--color-accent);
}

.nav-channel__item .iconify-inline {
  font-size: inherit;
  color: inherit;
  font-weight: inherit;
}

.video__img {
  width: 540px;
  height: 250px;
  border-radius: 14px;
  flex-shrink: 0;
}

.main-channel__video {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 32px;
}

.description__title {
  max-width: 431px;
  margin-bottom: 10px;
}

.description__text {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.6);
  margin-bottom: 30px;
  line-height: 22px;
}
.main-channel__recommended {
  max-width: 270px;
  flex-shrink: 0;
}
.video__description .description__info,
.recommended__title {
  font-size: 16px;
  line-height: 22px;
  color: var(--color-secondary);
}
.recommended__item {
  margin-top: 30px;
}

.recommended__item a {
  display: flex;
  align-items: center;
  gap: 20px;
  font-weight: 700;
  font-size: 18px;
  color: var(--color-primary);
}

.recommended__img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.nav-channel__item:last-child {
  font-weight: bold;
  display: none;
}

.header .channel__logo {
  display: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}

.header .more-icon {
  display: none;
  font-size: 19px;
}

.header .more-icon .iconify-inline {
  color: black;
  font-size: inherit;
}

@media screen and (max-width: 1440px) {
  .main-channel__recommended {
    display: none;
  }

  /* .main-channel__video {
    display: none;
  } */

  .banner__img {
    height: 150px;
  }

  .video__img {
    height: 200px;
    width: 350px;
  }

  .nav-channel__list {
    gap: 30px;
  }

  .main-info__img {
    width: 70px;
    height: 70px;
  }
}

@media screen and (max-width: 1024px) {
  .main-channel__video {
    flex-direction: column;
  }

  .video__img {
    width: 100%;
    height: 300px;
  }

  .main-channel__nav {
    margin-bottom: 30px;
  }

  .nav-channel__item {
    font-size: 13px;
  }

  .container {
    padding-right: 20px;
  }
}
@media screen and (max-width: 768px) {
  .container {
    padding: 0;
  }
  .channel__info {
    padding: 0;
  }

  .info__content {
    flex-direction: column;
    gap: 20px;
  }

  .subcription__bell {
    display: none;
  }

  .channel__banner {
    margin: 0 -16px;
  }
  .banner__img {
    border-radius: 0;
  }

  .info__main {
    flex-direction: column;
    gap: 2px;
    align-items: start;
  }

  .main-info__channel-name {
    font-size: 20px;
  }

  .main-info__channel-subscribed {
    font-size: 12px;
  }

  .main-info__channel-description {
    gap: 4px;
  }

  .info__content {
    position: relative;
    transform: translateY(-35px);
    margin-bottom: -35px;
  }

  .channel__main {
    margin-top: 30px;
    margin-bottom: 16px;
  }
  .main-channel__video {
    display: none;
  }
  .main-channel__nav {
    margin-bottom: 0;
  }
  .subcription__btn {
    font-size: 12px;
    padding: 10px 17px 9px;
  }
  .nav-channel__item:nth-child(n + 4) {
    display: none;
  }
  .nav-channel__item:last-child {
    display: block;
  }

  .nav-channel__item {
    font-size: 14px;
  }

  .nav-channel__list {
    justify-content: space-around;
  }

  .main-channel__preview {
    width: 100%;
  }

  .section-channel .slider__item {
    width: 100%;
  }
}

@media screen and (max-width: 425px) {
  .nav-channel__item {
    padding: 0 7px 4px 3px;
  }
  .banner__img {
    height: 100px;
  }
  .header .channel__logo {
    display: block;
  }
  .header .logo {
    display: none;
  }

  .header__logo {
    width: auto;
  }

  .header .channel__logo {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .header .channel__logo a {
    height: 25px;
  }

  .header .more-icon {
    display: block;
  }

  .profile__img {
    display: none;
  }

  .content main {
    padding-top: 6px;
  }
}
