.home-page {
  padding-top: 30px;
  padding-bottom: 14px;
}

.section-user .slider__item,
.section-channel .slider__item {
  width: 250px;
}

.section-user .section-content__img,
.section-channel .section-content__img {
  height: 150px;
}

.section-recommended .slider__item {
  width: 540px;
}

.section-recommended .section-content__img {
  height: 250px;
}
