@import url("cdn.css");
@import url("colors.css");
@import url("header.css");
@import url("sidebar.css");

* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
  color: var(--color-text);
  transition: all 0.5s;
  font-family: "Mulish", sans-serif;
}

html {
  background-color: var(--color-bg);
}

.container {
  padding: 0 15px;
  margin: auto;
  width: auto;
}

.content {
  display: flex;
  position: fixed;
  height: calc(100vh - 84px);
  top: 84px;
}

.title-first {
  font-size: 26px;
  color: var(--color-title);
}

.title-second {
  font-size: 18px;
  color: var(--color-title);
  margin-bottom: 30px;
}

.title-third {
  font-size: 16px;
}
