.section__title {
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.section__title span {
  font-size: 16px;
  color: var(--color-text);
  margin-left: 19px;
  font-weight: 400;
}

.section-title__img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
.section-content__title {
  margin-bottom: 4px;
  color: var(--color-primary);
  max-width: 100%;
}

.section-content__description {
  display: flex;
  justify-content: space-between;
  max-width: 100%;
  flex-wrap: wrap;
}

.section-content__img {
  width: 100%;
  border-radius: 14px;
  margin-bottom: 10px;
}

.section {
  margin-bottom: 50px;
}

.section .slider__container {
  gap: 40px;
}
