.sidebar {
  width: 250px;
  background-color: var(--color-bg);
  padding: 30px 0 0 31px;
  overflow-y: auto;
  flex-shrink: 0;
}

.sidebar__menu {
  margin-bottom: 60px;
}

.sidebar__categories {
  margin-bottom: 58px;
}

.sidebar__subscriptions {
  margin-bottom: 104px;
}

.sidebar__item {
  margin-bottom: 29px;
  color: var(--color-text);
  font-size: 16px;
}

.sidebar__item:hover {
  color: var(--color-accent);
  transform: translateY(-10%);
}

.sidebar__item * {
  color: inherit;
  font-size: inherit;
  transition: none;
}
/* ???? */

.sidebar__item a {
  display: flex;
  gap: 13px;
  align-items: center;
}

.sidebar__item .iconify-inline {
  font-size: 20px;
}

.sidebar__item .sidebar__img {
  width: 26px;
  height: 26px;
  border-radius: 50%;
}

.sidebar__subscriptions .sidebar__item {
  margin-bottom: 23px;
}

.sidebar__subscriptions .sidebar__item a {
  gap: 10px;
}
