.slider__nav {
  display: flex;
  gap: 10px;
  position: absolute;
  top: -58px;
  right: 149px;
}

.slider__container {
  display: flex;
  overflow-y: hidden;
  overflow-x: auto;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
}

.slider__container::-webkit-scrollbar {
  display: none;
}

.slider__container > * {
  scroll-snap-align: start;
}

.slider {
  position: relative;
}

.slider__item {
  cursor: pointer;
  flex-shrink: 0;
}

.slider__btn {
  height: 28px;
  width: 28px;
  outline: none;
  border: none;
  border-radius: 50%;
  background-color: var(--color-icons);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.slider__btn .iconify-inline {
  font-size: 20px;
  color: var(--color-bg);
}

@media screen and (max-width: 768px) {
  .slider__nav {
    position: static;
    justify-content: end;
    margin-bottom: 10px;
    padding-right: 10px;
  }
}

@media screen and (max-width: 425px) {
  .slider__nav {
    display: none;
  }

  .slider__container {
    display: block;
  }

  .slider__item {
    margin-bottom: 30px;
  }
}
